# Flask and extensions
Flask
Flask-Login
Flask-SQLAlchemy
psycopg2-binary
Werkzeug

# AI & Summarization (Hugging Face)
transformers
torch
sentence-transformers

# Keyword & NLP
yake
langdetect
deep-translator
scikit-learn
numpy

# Mindmap & PDF
networkx
matplotlib
PyPDF2
